<div id="<%= dom_id person %>" class="my-3">
  <p>
    <strong>Nome:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= person.phone_number %>
  </p>

  <p>
    <strong>CPF / CNPJ:</strong>
    <%= person.national_id %>
  </p>

  <p>
    <strong>Ativo:</strong>
    <%= active_status_icon(person.active) %>
  </p>

  <p>
    <strong>Total de Débitos</strong>
    <%= person.balance %>
  </p>

</div>
